<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

    <title>Duquesne Incline</title>
</head>
<body>
    <div class="topRow">
        <a href="../index.html"><img src="../static/logo.png" width="184px" class="logo" alt="Duquense Incline Logo">
        <h1>Duquesne <br> Incline</h1></a>
    </div>

    <div class="navbar">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="visit.html">Visit</a></li>
            <li><a href="history.html">History</a></li>
            <li><a href="maps.html">Maps</a></li>
            <li><a href="faqs.html">FAQs</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="mailing.html">Mailing List</a></li>
        </ul>
    </div>

    <div class="pageHeading">
        <h2>Contact Us</h2>
        <img class="faqsImage" src="../static/contact.jpg" alt="House at the bottom of the Incline">
    </div>

    <div class="mainLayout">
        <div class="contact">
            <h3>Phone:</h3>
            <h5>412.381.1665</h5>
            <h3>Fax:</h3>
            <h5>412.381.1943 </h5>
            <h3>Email:</h3>
            <h5>duq.incline@duquesneincline.org</h5>
            <h3>Address:</h3>
            <h5>1197 West Carson St. <br>
                Pittsburgh, PA. 15219</h5>

            <h3>Links:</h3> <br>
            <a target="_blank" href="https://www.facebook.com/TheDuquesneIncline">Facebook</a> <br>
            <a target="_blank" href="https://www.yelp.com/biz/duquesne-incline-pittsburgh">Yelp</a> <br>
            <a target="_blank" href="https://www.viator.com/Pittsburgh-attractions/Duquesne-Incline/d22639-a21677">Viator</a> <br>
            <a target="_blank" href="https://www.visitpittsburgh.com/directory/duquesne-incline/">Visit Pittsburgh</a> <br>
            <a target="_blank" href="https://en.wikipedia.org/wiki/Duquesne_Incline">Wikipedia</a>
        </div>
        <div class="contactForm">
            <h2>Leave us a Message</h2>
            <form>
                <label for="name">Your name:</label>
                <input type="text" id="name" name="name" required>
                <label for="email">Your email:</label>
                <input type="text" id="email" name="email" required>
                <label for="comment">Your message:</label>
                <textarea id="comment" name="comment" required></textarea>
                <input id="button" onclick="validate()" type="submit">
                <div id="validateMsg"></div>
            </form>
        </div>
    </div>

    <div class="actionButtons">
        <ul>
            <li><a href="faqs.html">FAQs</a></li>
            <li><a href="mailing.html">Mailing List</a></li>
        </ul>
    </div>

    <footer>
        <div class="footer">
            <div class="footerLinks">
                <a href="../index.html">Home</a>
                <a href="visit.html">Visit</a>
                <a href="history.html">History</a>
                <a href="maps.html">Maps</a>
                <a href="faqs.html">FAQs</a>
                <a href="contact.html">Contact Us</a>
                <a href="mailing.html">Mailing List</a>
                <a href="credits.html">Credits</a>
            </div>
        </div>
        <p class="copyright">Copyright 2025</p>
    </footer>
    
</body>
</html>