<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <script src="../static/faqs.js"></script>
    <title>Duquesne Incline</title>
</head>
<body>
    <div class="topRow">
        <a href="../index.html"><img src="../static/logo.png" width="184px" class="logo" alt="Duquense Incline Logo">
            <h1>Duquesne <br> Incline</h1></a>
    </div>

    <div class="navbar">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="visit.html">Visit</a></li>
            <li><a href="history.html">History</a></li>
            <li><a href="maps.html">Maps</a></li>
            <li><a href="faqs.html">FAQs</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="mailing.html">Mailing List</a></li>
        </ul>
    </div>

   
    <div class="pageHeading">
        <h2>Frequently Asked Questions</h2>
        <img class="faqsImage" src="../static/FAQs.jpg" alt="Incline cable car at bottom station">
    </div>

    <div class="faqs">
        <ol>
            <li class="faq-item">
                <h3 class="faq-question">How do I purchase tickets?</h3>
                <p class="faq-answer">Exact Cash Fare upon arrival. There are no tickets, no advance payment, no reservations and no debit or credit cards.</p>
            </li>
    
            <li class="faq-item">
                <h3 class="faq-question">What is the transit fare policy?</h3>
                <p class="faq-answer">The Duquesne Incline is part of the transportation system in Pittsburgh and therefore uses the same <b>CASH</b> fare system as the buses and trolleys. A change machine is available for your convenience. Having the exact fare in hand speeds up the payment process considerably.</p>
            </li>
    
            <li class="faq-item">
                <h3 class="faq-question">What is the policy with Senior riders?</h3>
                <p class="faq-answer">Pennsylvania Seniors 65 and older who present a BLUE or YELLOW PRT card or a Senior ConnectCard ride free, otherwise, the adult rate applies.
                    The Duquesne Incline is required to request a Pennsylvania Senior Citizen Transit ID card as proof of discount eligiblity, no exceptions, in order to be reimbursed by the Commonwealth of PA.</p>
            </li>
    
            <li class="faq-item">
                <h3 class="faq-question">Restrooms?</h3>
                <p class="faq-answer">Sorry, no rest rooms. The Duquesne Incline has been part of Pittsburgh's transportation system since 1877 like a trolley or the cable cars of San Francisco.</p>
            </li>
    
            <li class="faq-item">
                <h3 class="faq-question">When is the busiest time for the Incline?</h3>
                <p class="faq-answer">Saturday's and Sunday's after noon are our busiest times. Expect to wait in line for about 10 minutes in both directions.</p>
            </li>
    
            <li class="faq-item">
                <h3 class="faq-question">Wheelchair accessibility accomodations?</h3>
                <p class="faq-answer">There are many steps to traverse from the lower station parking lot.The Upper Station located at 1220 Grandview Ave, Pittsburgh, Pa. 15211 is wheelchair accessible. Our observation deck is also wheelchair accessible. The Historic (original) Incline cars can accommodate wheelchairs up to 25 inches in width.</p>
            </li>
        </ol>
    </div>

    <div class="actionButtons">
        <ul>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="mailing.html">Mailing List</a></li>
        </ul>
    </div>

    <footer>
        <div class="footer">
            <div class="footerLinks">
                <a href="../index.html">Home</a>
                <a href="visit.html">Visit</a>
                <a href="history.html">History</a>
                <a href="maps.html">Maps</a>
                <a href="faqs.html">FAQs</a>
                <a href="contact.html">Contact Us</a>
                <a href="mailing.html">Mailing List</a>
                <a href="credits.html">Credits</a>
            </div>
        </div>
        <p class="copyright">Copyright 2025</p>
    </footer>
    
</body>
</html>