<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

    <title>Duquesne Incline</title>
</head>
<body>
    <div class="topRow">
        <a href="../index.html"><img src="../static/logo.png" width="184px" class="logo" alt="Duquense Incline Logo">
            <h1>Duquesne <br> Incline</h1></a>
    </div>

    <div class="navbar">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="visit.html">Visit</a></li>
            <li><a href="history.html">History</a></li>
            <li><a href="maps.html">Maps</a></li>
            <li><a href="faqs.html">FAQs</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="mailing.html">Mailing List</a></li>
        </ul>
    </div>

    <div class="pageHeader">
        <h2>Duquense Incline's History</h2>
    </div>

    <div class="historyVideo">
        <iframe src="https://www.youtube.com/embed/ve3KMUIlSGk" title="Duquesne Incline" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <div class="historyText">
        <img src="../static/history.jpg" alt="Early picutre of Duquense Incline showing how arduous the trek up the mountain would have been">
        <div class="p1">
            

            The Duquesne Incline is one of those which follows very closely 
            the tracks of an early coal hoist. Old newspapers indicate the 
            existence of such a conveyance as early as 1854. Residents 
            apparently referred to it as "Kirk Lewis' incline" and located it on 
            the present site of The Duquesne Incline's Upper Station. 
            Grandview Avenue was then the High Street, and the area was 
            just beginning to be converted from farmland to homesites. This 
            pleasantly-situated acreage was an excellent area to absorb some 
            of the expanding population of the city, but the problem of easy 
            access was still to be solved. 
        </div>

        <div class="p2">
            Although plans for a freight and passenger incline are known to  have existed much earlier, financial 
            backing was exceedingly hard to find--even the modest sum of $47,000--and actual construction was
            delayed. Eventually, of course, difficulties were overcome and the Incline was built. It was opened to
            the public May 20, 1877. The Duquesne Incline was the first Pittsburgh incline designed and built by 
            Samuel Diescher, for Kirk Bigham and Associates. Mr. Diescher, an engineer, had become the 
            country's foremost builder of inclines. He was also to design and build most of those that followed.  
            <br>
            <br>
            At the time of its public opening, it was one of four inclined planes serving the summit of Coal Hill, 
            which later came to be known as Mount Washington. The Duquesne Incline was operated, from 1877 
            until 1962 by The Duquesne Inclined Plane Company. From 1964 until the present, the Incline has 
            been operated by the Society for the Preservation of The Duquesne Heights Incline; it has been 
            owned by the Port Authority of Allegheny County.  
            <br><br>
            The Society for the Preservation of the Duquesne Heights Incline. The Society for the 
            Preservation of the Duquesne Heights Incline was formed in 1964 by the Duquesne Heights/Mount 
            Washington neighborhood group that had rescued, repaired, and reopened the Incline in 1963. 
            The purpose was to continue to restore and rehabilitate the cars, equipment, and both stations, 
            and to establish the entire operation as a reliable commuter facility and a popular visitor attraction.  
            Memberships in the society are available, call for details.
        </div>
    </div>


    <div class="actionButtons">
        <ul>
            <li><a href="visit.html">Visit Us!</a></li>
        </ul>
    </div>

    <footer>
        <div class="footer">
            <div class="footerLinks">
                <a href="../index.html">Home</a>
                <a href="visit.html">Visit</a>
                <a href="history.html">History</a>
                <a href="maps.html">Maps</a>
                <a href="faqs.html">FAQs</a>
                <a href="contact.html">Contact Us</a>
                <a href="mailing.html">Mailing List</a>
                <a href="credits.html">Credits</a>
            </div>
        </div>
        <p class="copyright">Copyright 2025</p>
    </footer>
    
</body>
</html>